@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import 'node_modules/aos/src/sass/aos.scss';

@font-face {
    src: url(Avenir-LT-Std-85-Heavy_5177.ttf);
    font-family: brandon;
}
@font-face {
    src: url(AvenirNextLTPro-Regular.otf);
    font-family: brad;
}
@font-face {
    src: url(AvenirNextLTPro-Bold.otf);
    font-family: boldbrad;
}
@font-face {
    src: url(AvenirNextLTPro-Demi.otf);
    font-family: sboldbrad;
}
#firstlist{
    padding-left:30px;
}
h3{
    font-family:boldbrad;
}
.headers{
    font-family:brandon;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #E6444F;
}
.context{
    display:flex;
    justify-content:space-between;
}
hr{
    color:#B2B2B2;
}
.vertical { 
 border-left: 1px solid #B2B2B2;
height: 30vh;
padding-right: 10px;

} 
.proposal{
    display:flex;
    flex-direction: row;
   
}
.proposal p{
    color: #6C6C6C;
}
li{
    font-family:brad;
    padding-top: 10px;
    color:#454545;
}
h2{
    font-family:brandon;
    color: #454545;
}
#challenge{
    background-color: #e8fff0;
    border-radius: 10px;
}
p{
    font-family: brad;
    color:#454545;
    line-height: 1.6;

}
.wrapper{
    padding-left:45px;
    padding-right:45px;
    padding-bottom:45px;
    padding-top: 0px;
}

.main_project{
    display:flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    
    margin: 0;
    padding: 0;
  
  }
  ol li {
    padding-bottom:15px;
    counter-increment: my-awesome-counter;
    display: flex;
    align-items: center;
    color:#454545;
  }
ol li::before {
    content: counter(my-awesome-counter);
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: 0.5rem;
    font-family: boldbrad;
    color:#E6444F;
    line-height: 1;
  }
  






li text{
    list-style-position: outside;
}
img{
    width:100%;
    border-radius: 15px;
}

.intro_desc{
    display: flex;
    justify-content:space-between;
  
    width: 95%;
}
.d_list{
padding:0;
margin: 0;
list-style:none;
}
.gif{
display:flex;
justify-content: center;
align-items: center;

}
.firstgif{
    flex-grow:1;
    display:flex;
   
    align-items: center;
    padding-bottom: 60px;
    }
.num{
    font-size:3em;
    font-family: boldbrad;
    margin: 0;
    color: #C8C8C8;
}
.thirdgif{

    display:flex;
    align-items: center;
    padding-top: 40px;
    align-content: flex-end;
    }
.thirdgiftext{
  padding-left:20px;
    display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.button {
    background-color: #56BE73;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family:brad;
  }
  .subheader{
      padding-top:35px;
  }
  .fsubheader{
    padding-top:10px;
}
.trial{
    border-radius: 50%;
    background-color: blue;
    text-align:center;
    width: 50px;
    height: 50px;
    
}
.att{
    
    display:flex;
    align-items: center;
}
.att_t{
    padding-left: 10px;
}
.ideationq{
    display:flex;
    flex-direction: column;
   
}
footer{
  color: #454545;
  display:flex;
  text-align:center;
  justify-content: center;
  align-items:center;
  font-size:16px;
  font-family:brad;
  padding:40px;
}

/* MENU ---------------------------------------------------- */

.menubar{
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

nav{
    padding-top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
  
    font-size: .85rem;
  
  }

nav ul{
    display: flex;
  
  }
  nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .75s forwards;
  }
  
  nav ul li a{
  color: #454545;
   
    padding:1rem 0;
    margin: 0 3rem;
    position:relative;
    letter-spacing: 2px;
  }
  nav ul li a:last-child{
    margin-right:0;
  }

  nav ul li a::before,
  nav ul li a::after{
    content: '';
    position:absolute;
    width:100%;
    height:2px;
    background-color: #3195D9;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
  }
  nav ul li a::before{
    top:0;
    transform-origin: left;
  }
  nav ul li a::after{
    bottom:0;
    transform-origin:right;
  }
  
  nav ul li a:hover::before,
  nav ul li a:hover::after{
    transform: scaleX(1);
  }
  .logo{

    transform: translateX(-100rem);
    animation: slideIn .75s forwards;
  }
  
  @keyframes slideIn{
    from{
    }
    to{
      transform: translateX(0);
    }
  }
  a{
    text-decoration:none;
    color: #eee;
  }

  #back-to-top-btn{
    display:none;
    position:fixed;
    bottom:20px;
    right: 20px;
    font-size: 13px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: none;
  background: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
  }

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}